@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  height: 40px;
  padding: 5px;
}

input::placeholder {
  color: rgba(36, 35, 35, 0.5);
}

.video-detail {
  float: left;
}

.detail {
  margin-top: 20px;
}

